/* utilities */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1600px;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
}
.flex{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

/* header */
body{
    padding-top: 5rem;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #ff6900;
    color: white;
    font-size: 1.2rem;
    padding: 2rem;
    max-height: 5rem;
}

.logo{
    max-height: 2rem;
}

.navbar{
    justify-content: space-between;
}

/* main */
.showroom{
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column{
    flex-basis: calc(100% / 3 - 2rem);
    padding-top: 2rem;
}

.card{
    position: relative;
}

.info{
    width: 100%;
    padding-top: 0.2rem;
}

.tag{
    padding: 0.4rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    top: 40rem;
    left: 0;
}

.discount{
    background-color: red;
}

.quality{
    background-color: green;
}
.brand{
    text-transform: capitalize;
}

.item{
    text-transform: uppercase;
    font-weight: 600 ;
}

.price ::after{
    content: '/f153';
}

.actual{
    color: red;
}

.prev{
    text-decoration: line-through;
}

.favourite{
    background-color: white;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 0;
    padding: 0.2rem;
}

/* hover */
img:hover{
    cursor: pointer;
}

.favourite:hover{
    color: red;
}

#pic1:hover{
    content: url(../img/1b.webp);
}

#pic2:hover{
    content: url(../img/2b.webp);
}

#pic3:hover{
    content: url(../img/3b.webp);
}

#pic4:hover{
    content: url(../img/4b.webp);
}

#pic5:hover{
    content: url(../img/5b.webp);
}

#pic6:hover{
    content: url(../img/6b.webp);
}

/* footer */
footer{
    font-size: 1.1rem;
    padding: 2rem;
    margin-top: 3rem;
    background-color: black;
    color: white;
    line-height: 1.7rem;
}
li{
    list-style: none;
    padding-right: 0.5rem;
}

i{
    padding-right: 0.3rem;
}

.bottom_footer{
    justify-content: space-between;
}