/* utilities */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1600px;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
}
.flex{
    display: flex;
}

.discount{
    background-color: red;
    padding: 0.2rem;
}

.quality{
    background-color: green;
    padding: 0.2rem;
}

/* temporary */
.border{
    border: 2px dashed black;
}

.container{
    height: 10000px;

}

/* main */
.showroom{
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column{
    flex-basis: calc(100% / 3 - 2rem);
    padding-top: 3rem;
}

.card{
    position: relative;
}

.info{
    width: 100%;
}

.item{
    text-transform: uppercase;
    font-weight: 600 ;
}

.price ::after{
    content: "/f153";
}

.disc{
    color: red;
}

.prev{
    text-decoration: line-through;
}

.favourite{
    background-color: white;
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0.2rem;
}

/* hover */
img:hover{
    cursor: pointer;
}

.favourite:hover{
    color: red;
}

#pic1:hover{
    content: url(../img/1b.webp);
}